

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, .module, .dashboard, .admin-interface {
    font-family: 'Poppins', Arial, sans-serif !important;
}

#header, .module caption, .breadcrumbs, .dashboard-module h2 {
    background-color: #6c47ff !important;
    color: #fff !important;
}

#header {
    border-bottom: 4px solid #8c5dff;
}

#nav-sidebar a,
#nav-sidebar .app-label,
#nav-sidebar .model,
#nav-sidebar .nav-item,
#nav-sidebar .nav-item a,
#nav-sidebar .nav-item .app-label {
    color: #4b2996 !important;
}

#nav-sidebar, #nav-sidebar a, #nav-sidebar .model, #nav-sidebar .app-label, .app-MindMateAPP {
    color: #4b2996 !important;
}

.login .submit-row input[type="submit"] {
    background-color: #6c47ff !important;
    color: #fff !important;
    border: 2px solid #8c5dff !important;
    font-family: 'Poppins', Arial, sans-serif !important;
}

#site-name {
    font-size: 0; /* Hide text */
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.admin-logo {
    height: 120px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.login #site-name {
    font-size: 0;
    padding-left: 0;
}
#nav-sidebar .current-model {
    background-color: #e6d6ff !important;
    color: #4b2996 !important;
}
h1, h2 {
    color: #4b2996 !important;
    font-family: 'Poppins', Arial, sans-serif !important;
}
